.property-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.property-card__title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.property-card__info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}

.property-card__info span {
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.property-card__price {
  font-size: 18px;
  font-weight: bold;
}

.property-card__email {
  background-color: rgb(112, 9, 112);
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  display: inline-block;
  margin-top: 8px;
  cursor: pointer;
}

.property-card__icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.property-card__icons i {
  margin: 5px;
  font-size: 20px;
  color: #666;
}

.properties {
  padding: 0.5rem;
}

.properties > .item {
  display: inline-block;
  width: 33.33%;
  padding: 0.5rem;
  box-sizing: border-box;
}

.property-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 50px;
  justify-content: space-evenly;
  padding: 5px;
  overflow-x: hidden;
}
