.sidebar {
  width: 100%;
  padding: 20px;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.sidebar h3 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.sidebar ul li {
  margin-right: 20px; /* Increase the margin-right value to create more spacing */
}

.sidebar .sidebar-link {
  text-decoration: none;
  color: #333;
}

.sidebar .sidebar-link:hover {
  color: #555;
}

.main-content {
  margin-left: 220px;
  padding: 20px;
}
